{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <h1><center>Hello {{user.username}} !!</center></h1>
            {% for billed in ds %}
                <div class="box-element mt-5">
                    <div class="cart-row">
                        <h3><strong> {{ billed.date }} </strong></h3>
                    </div>
                    <div class="cart-row">
                        <div style="flex:2"></div>
                        <div style="flex:2"><strong>Item</strong></div>
                        <div style="flex:1"><strong>Price</strong></div>
                        <div style="flex:1"><strong>Quantity</strong></div>
                        <div style="flex:1"><strong>Total</strong></div>
                    </div>
                    {% for item in billed.orderitem %}
                        <div class="cart-row">
                            <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                            <div style="flex:2"><p>{{item.product.name}}</p></div>
                            <div style="flex:1"><p>${{item.price_buy}}</p></div>
                            <div style="flex:1"><p>&emsp;&emsp;{{item.quantity}}</p></div>
                            <div style="flex:1"><p>${{item.get_total_buy}}</p></div>
                        </div>
				    {% endfor %}
                    <div class="cart-row">
                        <div style="flex:2"></div>
                        <div style="flex:2"></div>
                        <div style="flex:1"></div>
                        <div style="flex:1"></div>
                        <div style="flex:1;color:red;font-size:25px"><strong>${{ billed.money }}</strong></div>
                    </div>
			    </div>


            {% endfor %}
        {% endif %}
    </div>
{% endblock %}