{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div id="carouselExampleControls" class="carousel slide mb-5" data-ride="carousel">
		<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="{% static 'img/slide1.webp' %}" alt="First slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="{% static 'img/slide2.jpg' %}" alt="Second slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="{% static 'img/slide3.webp' %}" alt="Third slide">
		</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
		</a>
	</div>


	{% if products %}
        <h2 style="border-top: 3px solid #939393" class="pt-4"><center>SẢN PHẨM ĐẶC BIỆT</center></h2>
        <div class="row mt-4">
		{% for product in products %}
			<div class="col-lg-3 col-md-4 col-6 mb-5" id="sanpham" style="transition: 0.2s ease-in;">
				<a href= "{% url 'product' product.pk %}" >
					<img class="thumbnail" src="{{product.imageURL}}">
				</a>
				<div class="box-element product">
					<h5 style="text-align:center;white-space: nowrap;overflow: hidden;">{{product.name}}</h5>
					<hr>
					<div class="media">
						<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart align-self-center">Add to Cart</button>
						<div class="media-body ml-5" style="display:flex; flex-direction: column; ">
							{% if product.sale_price %}
								<h5 style="float: right; line-height: 20px;"><strong><del>${{product.old_price}}</del></strong></h5>
								<h4 style="float: right; color: red; line-height: 5px;"><strong>${{product.price}}</strong></h4>
							{% else %}
								<h5 style="float: right; line-height: 20px;"><strong>${{product.old_price}}</strong></h5>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
    {% endif %}

	<div class="row mt-2 justify-content-center" style="border-top: 3px solid #939393">
		<div class="col-md-4 d-flex justify-content-center col-12 litleppmn mt-4">
			<img class="img" src="https://i.pinimg.com/474x/b0/bd/1e/b0bd1e12228e0d0db44f4b2530917878.jpg"/>
		</div>
		<div class="col-md-4 d-flex justify-content-center col-12 litleppmn mt-4">
			<img class="img" src="https://i.pinimg.com/474x/28/5a/b2/285ab23119338f926850c168016af8f6.jpg" />
		</div>
		<div class="col-md-4 d-flex justify-content-center col-12 litleppmn mt-4">
			<img class="img" src="https://i.pinimg.com/474x/50/92/8e/50928e25bd18f6638a85b1f440b0dd63.jpg"/>
		</div>
	</div>


{% endblock content %}